

body{
    background-color: rgb(87, 175, 179);
    /* cambio la tipografia */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.producto{
    width: 300px;
    height: px;
}

p{
    font-size: 30px;
    color: rgb(12, 61, 63);
}

